SKIP_PREFLIGHT_CHECK=true
REACT_APP_MOBILE_BREAKPOINT_SIZE=768
REACT_APP_ASIDE_MINIMIZE_BREAKPOINT_SIZE=1024
REACT_APP_SITE_NAME=Keeplin | Fleet Platform
REACT_APP_LOGO="logo-keeplin.png"
REACT_APP_META_DESC="Keeplin | Fleet Platform | Production"

REACT_APP_MODERN_DESGIN=true
REACT_APP_ASIDE_TOUCH_STATUS=true

REACT_APP_DARK_MODE=false

REACT_APP_ASIDE_WIDTH_PX=195
REACT_APP_SPACER_PX=13

REACT_APP_PRIMARY_COLOR=#6c5dd3
REACT_APP_SECONDARY_COLOR=#f00d69
REACT_APP_SUCCESS_COLOR=#00D3CF
REACT_APP_INFO_COLOR=#4d69fa
REACT_APP_WARNING_COLOR=#ffcf52
REACT_APP_DANGER_COLOR=#FF0000
REACT_APP_LIGHT_COLOR=#e7eef8
REACT_APP_DARK_COLOR=#19191A
REACT_APP_PINK=#F00D69
REACT_APP_BLUE_COLOR=#0D9EF0

REACT_APP_SERVICE_URL='https://platform.ravity.io/cxf/'
REACT_APP_SPACE_NAME='Production'
# REACT_APP_INGESTIONID='78a77601-1efe-408a-9b41-e1aec5d7960c'
REACT_APP_SERVICE_URL_INGESTION='https://platform.ravity.io/'
# REACT_APP_INGESTIONSECRET='dzWAstJvfZKoSyXAev99zxcog0WcaDQtF3TwbyQqBDKPQJRo6vMyrasnu843th'
REACT_APP_URL_RAVITY='https://platform.ravity.io/home/'
REACT_APP_INGESTIONID='54ffd169-cf9a-4d52-a58c-fd06041d4763'
REACT_APP_INGESTIONSECRET='kc2ieY5elmASBv7Ex3iZAZljC6Vb1jmMNuN71qKzYfPGlbj0gTZswykLHbLGLt'

# NEW REST API START

# API REST

REACT_APP_CLIENT_ID=FOIQYDJAWVRQXHZMCBJC@1111
REACT_APP_APP_NAME=valcode_fleet_api
REACT_APP_CLIENT_SECRET=TZOGAYRAPHMRRBKDYNHF1731307654016
REACT_APP_REST_URL=https://platform.ravity.io/services/api/
REACT_APP_GOOGLE_MAPP_API=AIzaSyBuOE9Sxegvw3DcXBlutjNIpjqG9ArZGDQ
REACT_APP_CONTENT_TYPE=application/x-www-form-urlencoded


# OVERVIEW

REACT_APP_OVERVIEW_DRAINAGE=fp_overview_s_drainage
REACT_APP_OVERVIEW_TOTAL_DRAINAGE=fp_overview_s_total_no_of_drainage
REACT_APP_OVERVIEW_TOTAL_FUEL=fp_overview_s_total_fuel_consumed_by_fleet
REACT_APP_OVERVIEW_TOTAL_FILLING=fp_overview_s_total_no_of_filling
REACT_APP_OVERVIEW_AVG_FUEL=fp_overview_s_avg_fuel_of_the_fleet
REACT_APP_OVERVIEW_TEMPERATURE=fp_overview_s_temperature
REACT_APP_OVERVIEW_TOTAL_REFUEL=fp_overview_s_total_refuel
REACT_APP_OVERVIEW_ECO_DRIVER_TOTAL_SCORE=fp_overview_s_eco_driver_total_score
REACT_APP_OVERVIEW_MILEAGE_DRIVEN=fp_overview_s_mileage_driven
REACT_APP_OVERVIEW_NB_TRIPS=fp_overview_s_no_of_trips
REACT_APP_OVERVIEW_TOTAL_IDLING_TIME=fp_overview_s_total_idling_time
REACT_APP_OVERVIEW_AVG_IDLING_TIME=fp_overview_s_average_idling_time
REACT_APP_OVERVIEW_FUEL_AVG_EFFICIENCY=fp_overview_s_fuel_avg_efficiency
REACT_APP_OVERVIEW_FUEL_AVG_CONSUMPTION=fp_overview_s_average_consumption
REACT_APP_FUEL_EFFICIENCY=fp_overview_fuel_efficiency
REACT_APP_TOTAL_ALERTS=fp_overview_alerts
REACT_APP_DEVICE_VEHICLE_STATUS=fp_overview_vehicle_device_status
REACT_APP_OVERVIEW_VEHICLE_ALERTS=fp_overview_vehicle_alerts
REACT_APP_VEHICLE_USAGE=fp_overview_vehicle_usage
REACT_APP_OVERVIEW_METRICS=fp_overview_metrics

# MYFLEET

REACT_APP_VEHCILE_STATUS=fp_myfleet_vehicle_status_filter
REACT_APP_VEHICLE_LOCATIONv1=fp_myfleet_vehicle_location
REACT_APP_TIMELINE_STATUS=fp_myfleet_vehicle_timeline
REACT_APP_TRIP_ROUTE_V1_1=fp_history_trip_route
REACT_APP_TRIP_INFO_V1_1=fp_history_trip_info
REACT_APP_TRIP_TIME_DTC_V1_1=fp_history_trip_dtc
REACT_APP_TRIP_ROUTE_V2_1=fp_history_trip_route_adv1
REACT_APP_TRIP_ROUTE_V2_2=fp_history_trip_route_adv2



# ALERTS

REACT_APP_LIST_NOTIFICATIONS=fp_veh_alerts_list
REACT_APP_ALARM_DETAIL=fp_veh_alerts_detail
REACT_APP_EACH_COUNT_NOTIFICATIONS=fp_veh_alerts_each_count
REACT_APP_ALL_COUNT_NOTIFICATIONS=fp_veh_total_alerts_count

# MAINTENANCE
 
REACT_APP_MAINTENANCE_TASKS=fp_maintenance_task_list
REACT_APP_FINISHED_VALUES=fp_maintenance_finished_values
REACT_APP_MAINTENANCE_STATUS_FILTER=fp_maintenance_status_filter

# REPORTS

REACT_APP_CATEGORY_REPORT=fp_reports_category
REACT_APP_DTC_REPORT=fp_fleet_reports_dtc
REACT_APP_VEHCILE_DATA_REPORT=fp_fleet_report_vehicle_data
REACT_APP_VEHCILE_FUEL_PERFORMANCE=fp_fleet_report_fuel_performance
REACT_APP_VEHCILE_DAILY_DRIVE_USAGE=fp_fleet_report_daily_drive_usage
REACT_APP_VEHCILE_DAILY_USAGE=fp_fleet_report_daily_vehicle_usage
REACT_APP_FUEL_VOLUME=fp_fuel_volume_stats_reports
REACT_APP_FUEL_VOLUME_ANALYSIS=fp_fuel_volume_analysis_reports
REACT_APP_FUEL_TANK=fp_fuel_tank_reports
REACT_APP_VEHCILE_WORKING_HOURS=fp_working_hour_reports
REACT_APP_ECO_DRIVE=fp_eco_driver_reports
REACT_APP_VEHCILE_SPEED_VIOLATIONS=fp_speed_violation_reports
REACT_APP_DEVICE_ON_OFF=fp_device_on_off_reports
REACT_APP_VEHCILE_CONNECTION_LOST=fp_connection_lost_reports
REACT_APP_TRACKER_DETACH=fp_tracker_detach_reports
REACT_APP_VEHCILE_STOPS=fp_stop_reports
REACT_APP_REPORT_ENGINE_HOURS=fp_engine_hours_report
REACT_APP_REPORT_GEOFENCES_SUMMARY=fp_geofence_summary_report
REACT_APP_REPORT_GEOFENCES_ZONE=fp_geofencezone_report
REACT_APP_REPORT_TRIP=fp_trip_reports
REACT_APP_REPORT_TRIP_SHIFT=fp_trip_shift_reports
REACT_APP_TEMPERATURE_MN_REPORTS=fp_temperature_mn_reports
REACT_APP_TEMPERATURE_REPORTS=fp_temperature_reports
REACT_APP_SCHEDULED_REPORTS=vc_report_schedule

# DRIVER LEADERBOARD

REACT_APP_LEAST_FIVE_DRIVER_SCORES=fp_drb_least_five_driver_scores
# REACT_APP_TOP_FIVE_DRIVER_SCORES=fp_drb_top_five_driver_scores
REACT_APP_OTHER_DRIVE_SCORE=fp_drb_other_driver_score
REACT_APP_BEHAVIOUR_SCORES=fp_drb_driver_behaviour_scores
REACT_APP_DRIVE_SUMMARY=fp_drb_driver_summary
REACT_APP_DRIVER_PROFILE=fp_drb_driver_profile
REACT_APP_DRIVER_NAME_FILTER=fp_driver_name_filter
REACT_APP_DRIVER_BEHAVIOUR_SUMMARY=fp_drb_driver_behaviour_summary

# VEHICLES

REACT_APP_VEHICLE_FLEET=fp_vehicles_details_list
REACT_APP_VEHICLE_SPECIFICATION=fp_vehicle_by_search
REACT_APP_MANUFACTURE=fp_vehicle_manufacturer_filter
REACT_APP_MOBILENO=fp_vehicle_mobile_filter
REACT_APP_IMEI=fp_vehicle_imei_filter
REACT_APP_MAKE=fp_vehicle_make_filter
REACT_APP_MODEL=fp_vehicle_model_filter
REACT_APP_VEHICLEID=fp_vehicle_id_filter
REACT_APP_VIN_REG_CHECK=fp_vehicle_regcheck_filter

# ALERTS AND NOTIFICATIONS

REACT_APP_ALARM_SETTINGS_LIST=fp_alerts_settings_info
REACT_APP_ALARM_TYPE=fp_alerts_type_filter
REACT_APP_ALARM_TYPE_ALERT=fp_veh_alerts_filter
REACT_APP_ALARM_OPERANDS=fp_alerts_operands_filter


# USERS & ROLES @ GROUPS

REACT_APP_USERS=fp_users_list
REACT_APP_USSERS_ROLE_FILTER=fp_users_role_filter
REACT_APP_ROLES=fp_roles_list
REACT_APP_GROUPS=fp_group_list

# DRIVERS

REACT_APP_ALL_DRIVERS=fp_drivers_list
REACT_APP_DRIVER_FORM_REGNO_CHECK=fp_driver_form_regno_filter

# GEOFENCE

REACT_APP_ALARM_GEOFENCE=fp_geofences_list
REACT_APP_POI_MYFLEET=fp_myfleet_poi



# WORKFLOW
REACT_APP_POI_MYFLEET_TASK=vc_poi_tasks_list
REACT_APP_POI_MYFLEET_TASK_GET_ONE=vc_poi_task_edit
# WORKFLOW KPI
REACT_APP_VC_POI_TASK_NO_DELIVER=vc_poi_task_no_deliver
REACT_APP_VC_POI_TASK_NO_DELIVER_INTIME=vc_poi_task_no_deliver_intime
REACT_APP_VC_POI_TASK_TOTAL_DELIVER_TIME=vc_poi_task_total_deliver_time
REACT_APP_VC_POI_TASK_NO_CANCEL_DELIVER=vc_poi_task_no_cancel_deliver
REACT_APP_VC_POI_TASK_AVERAGE_DELAY=vc_poi_task_avgdelay
REACT_APP_VC_POI_TASK_STATUS_COUNT=vc_poi_tasks_status_count

REACT_APP_VC_POI_TASK_NOOFDELAYEDEVENT=vc_poi_task_noofdelayevent
REACT_APP_VC_POI_TASK_DELAYPERTASK=vc_poi_task_delaypertask



# OTHERS API

REACT_APP_LANGUAGE=fp_user_preferences
REACT_APP_FM_FLEET_FILTER=fp_fleet_filter
REACT_APP_VIN_BY_FLEET=fp_vin_filter
REACT_APP_PERMISSIONS=vc_user_permissions
REACT_APP_NOTIFICATIONS_SETTINGS=fp_notifications_list

# UNUSED ??

REACT_APP_VIEWER_ROLE=9797634
REACT_APP_MANAGER_ROLE=9797633
REACT_APP_FLEETNAMES=fp_vehicle_fleet_filter
REACT_APP_VEHCILE_LOCATION="fm_vehicle_location_api80131310472635711723"
REACT_APP_TRIP_ROUTE="FM_map_matched472779974105008697648761723"
REACT_APP_FM_TRIP_INFO="trip_info_api60579261804174731723"
REACT_APP_FM_TIME_DTC="trip_info_of_time_with_dtc_api05810963549681391723"
REACT_APP_TRIP_HISTORY="trip_history_api47331254562182581723"
REACT_APP_TRIP_OVERVIEW_OF_TOTAL_COUNT="trip_overview_total_cnt_dist_bv49119475206159271723"
REACT_APP_TRIP_OVERVIEW_OF_FUEL_ENGINE="trip_fuel_engine_co292301663679336191723"
REACT_APP_TRIP_OVERVIEW_OF_FLEET_UTILISATION="trip_fleet_utilisation_api97179867092173621723"
REACT_APP_ALARM_NAME_LIST="alarm_list_api"
REACT_APP_ALARM_TRIP_DETAIL="alarm_trip_details"
REACT_APP_ALARM_TRIP_ROUTE="alarm_trip_route"
REACT_APP_ALARM_EMAILS_API="alarm_email_api"
REACT_APP_ALL_TICKETS="getTicket_api40954588390761301723"
