.bg-fuel-1 {
	background-color: #7ff8be;
}
.bg-fuel-2 {
	background-color: #72deaa;
}
.bg-fuel-3 {
	background-color: #65c496;
}
.bg-fuel-4 {
	background-color: #58ab83;
}
.bg-fuel-5 {
	background-color: #4b916f;
}
.bg-fuel-6 {
	background-color: #3d785c;
}
.bg-fuel-7 {
	background-color: #305e48;
}
.bg-fuel-8 {
	background-color: #234535;
}
.bg-fuel-9 {
	background-color: #162b21;
}
.bg-fuel-10 {
	background-color: #09120e;
}

.bg-alert-1 {
	background-color: #ffe5e5;
}
.bg-alert-2 {
	background-color: #ffcccc;
}
.bg-alert-3 {
	background-color: #ffb2b2;
}
.bg-alert-4 {
	background-color: #ff9999;
}
.bg-alert-5 {
	background-color: #ff8080;
}
