//
// Custom
//

@use 'sass:map';

.scroll-margin {
	scroll-margin-top: map.get($header, height) + map.get($subheader, height) + map.get($page, padding-y);
}

.sticky-top-size {
	top: map.get($header, height) + map.get($subheader, height) + map.get($page, padding-y);
}

.border-transparent {
	--#{$prefix}border-opacity: 0;
}

.height-option-users {
	min-height: 400px;
	box-sizing: border-box;
}

.usr-group-card {
	min-height: 115px;
}

.usr-group-added {
	min-height: 70px;
}

// show password spacing

.showpassValid .showPassword {
	right: 40px;
}

.usr-select-btn>div {
	padding: 3px;
	border-radius: 6px;

	>div>[class*='multiValue'] {
		border: 1px solid #E0E6ED;
	}

	&:hover {
		cursor: pointer;
		box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%), 0 0 0 0.25rem rgb(108 93 211 / 25%);
		border-color: #b6aee9;
	}
}

// full screen spinner

.cover-spin .spinner-center {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
}

.label-required:after {
	content: ' *';
	color: $secondary;
}

//delete button

#delete-vehicule .btn-close {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 10px;
	background: #e8e8e8 escape-svg($black-btn-close-bg) center / 10px auto no-repeat !important; // include transparent for button elements
	height: 10px;
	width: 10px;
	border-radius: 0.875rem;
}

#delete-vehicule .btn-close :hover {
	background: #000 escape-svg($dark-btn-close-bg) center / 10px auto no-repeat !important; // include transparent for button elements
}

.add-vehicle select,
.field-card select {
	// font-size: 1rem;
	// color: #323232 !important;
	// font-weight: 600;
	// line-height: 2.2;
	// padding: 0.5rem 1rem;
	font-family:Open Sans;
	font-size: 12px;
	font-weight: 500;
	line-height: 16.37px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #888EA8;

	&:disabled {
		color: #6c757dbf !important;
	}
}

.field-card-select {
	// font-size: 1rem;
	// color: #323232 !important;
	// font-weight: 600;
	font-family:Open Sans;
	font-size: 12px;
	font-weight: 500;
	line-height: 16.37px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #888EA8;


	&:disabled {
		color: #6c757dbf !important;
	}
}

#create-scheduled-report .modal-dialog {
	min-width: 500px;
}

.checkbox-custom {
	width: 3.5em !important;
	height: 1.8em !important;

	&:checked {
		// border-color: $secondary !important;
		// background-color: $secondary !important;

		&:focus {
			background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23fff%27/%3e%3c/svg%3e') !important;
		}
	}

	&:focus {
		box-shadow: 0 0 0 0.25rem #f00d6938;
		// border-color: $secondary !important;
		background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23f00d69%27/%3e%3c/svg%3e') !important;
	}
}

.checkbox-nrml {
	width: 1em !important;
	height: 1em !important;
	padding: 0;
	border-color: black;
	background-color: transparent !important;

	&:checked {
		border: 1px solid #D1D5DB !important;
		background-color: #4C80FF !important;
		height: 7px;
		width: 7px;
		// &:focus {
		// 	background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23fff%27/%3e%3c/svg%3e') !important;
		// }
	}

	// &:focus {
	// 	box-shadow: 0 0 0 0.25rem #f00d6938;
	// 	border-color: $secondary !important;
	// 	background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23f00d69%27/%3e%3c/svg%3e') !important;
	// }
}

.checkbox-myfleet {
	@extend .checkbox-nrml;
	width: 1.3em !important; // Adjust the width as needed
	height: 1.3em !important; // Adjust the height as needed
}

.ql-container {
	min-height: 150px;
}

.custom-file-upload {
	width: 170px;
	background-color: $secondary;

	input[type='file'] {
		width: 170px;
		padding: 5px 0;
		position: absolute;
		cursor: pointer;
	}

	input[type='file']::file-selector-button {
		cursor: pointer;
	}
}

.cursor-text {
	cursor: text !important;
}

.custom-crossed {
	width: 10px;

	&:hover {
		font-weight: bold;
	}
}

.loader-wrapper {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1020;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.35);
	backdrop-filter: blur(5px);
	transition: opacity 0.25s, visibility 0.25s;
	opacity: 1;
	visibility: visible;
}

.loader-wrapper.hidden {
	opacity: 0;
	visibility: hidden;
}

/* Ajoutez ces styles pour rendre la barre de défilement fine */
::-webkit-scrollbar {
	width: 3px;
	/* Largeur de la barre de défilement */
	height: 6px;
	/* Largeur de la barre de défilement */
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	/* Couleur de la poignée de la barre de défilement */
	border-radius: 5px;
	/* Bordure de la poignée */
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	/* Couleur de fond de la barre de défilement */
}

.round-badge {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
}

.points-interet :hover {
	background: #fceff4;
}

.icon-cursor-pointer {
	cursor: pointer;
}